.Uppgiften {

    
    display: flex;
    margin: 0 auto;
    width: 520px;
    padding-top: 5rem; 
}

.förnamn {
    margin-right: 3rem;
}

.e-postadress {
    padding: 3rem;
    margin: 0 auto;
    width: 520px;
}
.knapp {
    text-align: center;
}
.container {
    margin: 0 auto;
    width: 520px;
}

.space {
    margin-bottom: 1rem;
    background-color: rgb(182, 178, 178);
    border-radius: 10px;
}



